src/com/oy/shared/lm/test/wsdl/TimeService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:s="http://www.w3.org/2001/XMLSchema"
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
	xmlns:tns="http://www.Nanonull.com/TimeService/"
	xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
	xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
	targetNamespace="http://www.Nanonull.com/TimeService/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
	<wsdl:types>
		<s:schema elementFormDefault="qualified"
			targetNamespace="http://www.Nanonull.com/TimeService/">
			<s:element name="getUTCTime">
				<s:complexType />
			</s:element>
			<s:element name="getUTCTimeResponse">
				<s:complexType>
					<s:sequence>

						<s:element minOccurs="0" maxOccurs="1"
							name="getUTCTimeResult" type="s:string" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="getOffesetUTCTime">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="1" maxOccurs="1"
							name="hoursOffset" type="s:double" />
					</s:sequence>

				</s:complexType>
			</s:element>
			<s:element name="getOffesetUTCTimeResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1"
							name="getOffesetUTCTimeResult" type="s:string" />
					</s:sequence>
				</s:complexType>
			</s:element>

			<s:element name="getServerTime">
				<s:complexType />
			</s:element>
			<s:element name="getServerTimeResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1"
							name="getServerTimeResult" type="s:string" />
					</s:sequence>
				</s:complexType>

			</s:element>
			<s:element name="getServerTimeZone">
				<s:complexType />
			</s:element>
			<s:element name="getServerTimeZoneResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1"
							name="getServerTimeZoneResult" type="s:string" />
					</s:sequence>

				</s:complexType>
			</s:element>
			<s:element name="getServerCity">
				<s:complexType />
			</s:element>
			<s:element name="getServerCityResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1"
							name="getServerCityResult" type="s:string" />

					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="getTimeZoneTime">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1"
							name="timezone" type="s:string" />
					</s:sequence>
				</s:complexType>

			</s:element>
			<s:element name="getTimeZoneTimeResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1"
							name="getTimeZoneTimeResult" type="s:string" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="getCityTime">

				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1"
							name="city" type="s:string" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="getCityTimeResponse">
				<s:complexType>
					<s:sequence>

						<s:element minOccurs="0" maxOccurs="1"
							name="getCityTimeResult" type="s:string" />
					</s:sequence>
				</s:complexType>
			</s:element>
		</s:schema>
	</wsdl:types>
	<wsdl:message name="getUTCTimeSoapIn">
		<wsdl:part name="parameters" element="tns:getUTCTime" />
	</wsdl:message>

	<wsdl:message name="getUTCTimeSoapOut">
		<wsdl:part name="parameters" element="tns:getUTCTimeResponse" />
	</wsdl:message>
	<wsdl:message name="getOffesetUTCTimeSoapIn">
		<wsdl:part name="parameters" element="tns:getOffesetUTCTime" />
	</wsdl:message>
	<wsdl:message name="getOffesetUTCTimeSoapOut">
		<wsdl:part name="parameters"
			element="tns:getOffesetUTCTimeResponse" />
	</wsdl:message>

	<wsdl:message name="getServerTimeSoapIn">
		<wsdl:part name="parameters" element="tns:getServerTime" />
	</wsdl:message>
	<wsdl:message name="getServerTimeSoapOut">
		<wsdl:part name="parameters"
			element="tns:getServerTimeResponse" />
	</wsdl:message>
	<wsdl:message name="getServerTimeZoneSoapIn">
		<wsdl:part name="parameters" element="tns:getServerTimeZone" />
	</wsdl:message>

	<wsdl:message name="getServerTimeZoneSoapOut">
		<wsdl:part name="parameters"
			element="tns:getServerTimeZoneResponse" />
	</wsdl:message>
	<wsdl:message name="getServerCitySoapIn">
		<wsdl:part name="parameters" element="tns:getServerCity" />
	</wsdl:message>
	<wsdl:message name="getServerCitySoapOut">
		<wsdl:part name="parameters"
			element="tns:getServerCityResponse" />
	</wsdl:message>

	<wsdl:message name="getTimeZoneTimeSoapIn">
		<wsdl:part name="parameters" element="tns:getTimeZoneTime" />
	</wsdl:message>
	<wsdl:message name="getTimeZoneTimeSoapOut">
		<wsdl:part name="parameters"
			element="tns:getTimeZoneTimeResponse" />
	</wsdl:message>
	<wsdl:message name="getCityTimeSoapIn">
		<wsdl:part name="parameters" element="tns:getCityTime" />
	</wsdl:message>

	<wsdl:message name="getCityTimeSoapOut">
		<wsdl:part name="parameters" element="tns:getCityTimeResponse" />
	</wsdl:message>
	<wsdl:portType name="TimeServiceSoap">
		<wsdl:operation name="getUTCTime">
			<wsdl:input message="tns:getUTCTimeSoapIn" />
			<wsdl:output message="tns:getUTCTimeSoapOut" />
		</wsdl:operation>
		<wsdl:operation name="getOffesetUTCTime">

			<wsdl:input message="tns:getOffesetUTCTimeSoapIn" />
			<wsdl:output message="tns:getOffesetUTCTimeSoapOut" />
		</wsdl:operation>
		<wsdl:operation name="getServerTime">
			<wsdl:input message="tns:getServerTimeSoapIn" />
			<wsdl:output message="tns:getServerTimeSoapOut" />
		</wsdl:operation>
		<wsdl:operation name="getServerTimeZone">
			<wsdl:input message="tns:getServerTimeZoneSoapIn" />

			<wsdl:output message="tns:getServerTimeZoneSoapOut" />
		</wsdl:operation>
		<wsdl:operation name="getServerCity">
			<wsdl:input message="tns:getServerCitySoapIn" />
			<wsdl:output message="tns:getServerCitySoapOut" />
		</wsdl:operation>
		<wsdl:operation name="getTimeZoneTime">
			<wsdl:input message="tns:getTimeZoneTimeSoapIn" />
			<wsdl:output message="tns:getTimeZoneTimeSoapOut" />

		</wsdl:operation>
		<wsdl:operation name="getCityTime">
			<wsdl:input message="tns:getCityTimeSoapIn" />
			<wsdl:output message="tns:getCityTimeSoapOut" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="TimeServiceSoap" type="tns:TimeServiceSoap">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http"
			style="document" />
		<wsdl:operation name="getUTCTime">

			<soap:operation
				soapAction="http://www.Nanonull.com/TimeService/getUTCTime"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getOffesetUTCTime">

			<soap:operation
				soapAction="http://www.Nanonull.com/TimeService/getOffesetUTCTime"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getServerTime">

			<soap:operation
				soapAction="http://www.Nanonull.com/TimeService/getServerTime"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getServerTimeZone">

			<soap:operation
				soapAction="http://www.Nanonull.com/TimeService/getServerTimeZone"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getServerCity">

			<soap:operation
				soapAction="http://www.Nanonull.com/TimeService/getServerCity"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getTimeZoneTime">

			<soap:operation
				soapAction="http://www.Nanonull.com/TimeService/getTimeZoneTime"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getCityTime">

			<soap:operation
				soapAction="http://www.Nanonull.com/TimeService/getCityTime"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="TimeService">
		<documentation xmlns="http://schemas.xmlsoap.org/wsdl/">
			A sample Time service
		</documentation>
		<wsdl:port name="TimeServiceSoap"
			binding="tns:TimeServiceSoap">
			<soap:address
				location="http://www.nanonull.com/TimeService/TimeService.asmx" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>